*{
	font-family: "微软雅黑"
}
body{
	background-color: rgb(153, 188, 212);
}
.login{
	width: 35%;
	height: 100%;
    min-width:450px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
	background: #bdd4e3;


}
.login .logo{
	width: 100%;
	height: 30%;
	text-align: center;
	font-size:50px;
	padding-top: 40px;
	
}
.login .login-content{
	height: auto;
	padding-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.2);
}
.input-group-addon{
	color: #fff;
}
.validate{
	width:100%;
	height: auto;
	overflow:hidden;
}
.validate,.input-group{
	border-bottom: 1px solid #eee;
}
.validate .input-group{
	border:none;
}
.validate .col-xs-9,.validate .col-xs-3{
	padding-left:0px;
	padding-right:0px;
}

.login .input-group input,.login .input-group span{
	border-style: none;
	background:  none;

}.login .input-group input{
	height: 60px;
	vertical-align: middle;
}
.login .forgetPwd{
	text-align: center;
}
.login .login-button{
	width: 100%;
	text-align:center;
	margin-top: 12px;
}
.login .login-button button{
	width: 18%;
	height: 50px;
	font-size: 18px;
}
.btn-primary {
background-color: #99bcd4;
border-color: #99bcd4;
border-radius: 8px;
}
/*.btn:focus{
	outline: none;
}*/
.btn-primary:hover{
	background-color: #78aed1;
	border-color: #78aed1;
}
.btn-primary:focus{
	background-color: #78aed1;
	border-color: #78aed1;
	border-radius: 8px;
	box-shadow: none;
}
.login .to-register{
    text-align: center;
}
.login .to-register a{
    text-decoration: none;
	font-size: 20px;
	color: #fff;
}
.login .to-register a:hover{
	color: #ccc;
}
.login .footer{
	height: 100px;
	background-color: #bdd4e3;
	text-align: center;
}
.form-control{
	border:none;
	box-shadow:none;
	padding:20px 0px;
}
.form-control:focus{
	box-shadow: none;
}
.icon-remove-sign:hover{
	opacity: 0.5;
}
.icon-remove-sign{
	display: none;
}
.validate img{
	height: 60px;
}
.input-group .input-group-addon-width{
	width:76px;
	text-align: right;
}
.to-go .btn{
	font-size: 13px;
	padding:5px 20px;
}